.container {
  @apply relative;
  .header {
    @apply flex justify-between bg-black text-white items-center text-center h-10 text-xl;
    @apply absolute top-0 w-full;
    label {
      @apply ml-5 ;
    }
    .icon {
      @apply grid grid-cols-3 text-center mr-5;
    }
  }

  .body {
    @apply flex justify-between h-screen absolute top-0 ml-28;
    .player-1 {
      @apply  h-52 w-52 border-2 flex flex-col justify-center items-center text-2xl font-medium border-black;
      @apply ml-16 mr-16 mt-20;
    }
    img {
      @apply w-96
    }


    .playchess {
      @apply mt-20 bg-white flex flex-col;
      height: 660px;
      .item1 {
        @apply border border-black  ;
        width: 33px;
        height: 36px;
      }
    }
  }
}



