<div class="flex-1 p-5 bg-amber-50" >
  <p class="flex justify-center text-3xl ">Sign up</p>
  <form>
    <mat-form-field class="example-full-width w-full mt-2" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="example-full-width w-full" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field class="example-full-width w-full" appearance="outline">
      <mat-label>Enter the password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <br>
    <button mat-raised-button class="bg-red-500 text-white w-full p-3 rounded-sm  text-lg mt-5">Sign up</button>
  </form>
</div>
