<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div class="big-layout">
  <div class="header h-10 w-full bg-black text-white flex flex-row justify-between items-center px-5">
    <p class="">Chosen a room</p>
    <div class="group flex flex-row justify-between items-center">
      <i class="fa-solid fa-bell "></i>
      <img src="https://i.pinimg.com/736x/29/88/5b/29885bbba1f52e88bfdeb441e46fb454.jpg" alt="avata" class="mx-5 h-8 w-8 rounded-full">
      <span class="span">User</span>
    </div>
  </div>
  <div class="body-layout ">
    <div class="container grid grid-cols-5 gap-5 p-5">
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 1</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 2</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 3</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 4</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 5</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 6</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 7</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 8</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 9</p>
      </a>
      <a href="" class="room">
        <p class="text-center text-xl bg-blue-500">Room 10</p>
      </a>
    </div>
  </div>
</div>
